@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

header {
    background-color: white;
    padding: 40px;
}

header > h1 {
    color: #25272E;
    text-align: center;
    font-family: Asap, sans-serif;
    font-size: 50px;
}

header > h3 {
    color: #25272E;
    text-align: center;
    font-family: Asap, sans-serif;
    font-size: 24px;
    font-style: italic;
    padding-top: 20px;
}

.score-board {
    margin  : 30px auto;
    border: 2px solid white;
    border-radius: 4px;
    width: 500px;
    color: white;
    font-size: 46px;
    text-align: center;
    padding: 25px 20px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge {
    background-color: #0155fd;
    font-size: 35px;
    padding: 5px 10px;
    font-family: Asap, sans-serif;
    border-radius: 4px;
}
#current-score {
    color: white;
    text-align: center;
    font-family: Asap, sans-serif;
    font-size: 50px;
    padding-top: 45px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -45px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -70px;
}
#user-score {
    font-size: 60px;
    padding: 0 20px;
}

#computer-score {
    font-size: 60px;
    padding: 0 20px;
}
.result {
    font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
}

.choices {
    margin-top: 50px 0;
    text-align: center;
}
.choice {
    border: 3px solid #0155fd;
    border-radius: 50%;
    display: inline-block;
    padding: 13px;
    margin: 20px 15px;
    background-color: #eeeeee;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background-color: #0155fd;
}

#action-message {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 35px;
    font-family: Asap, sans-serif;
    margin: 20px;
    padding-bottom: 30px;
}

.final-results {
    margin-bottom: 5  0px;
    text-align: center;
    font-family: Asap, sans-serif;
    color: #eeeeee;
}

#finished-tag {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    color: white;
}

.finished-button {
    padding: 12px;
    color: #eeeeee;
    background-color: #0155fd;
    border-radius: 4px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.finished-button:hover {
    background-color: #eeeeee;
    color: 
    #0155fd;
    cursor: pointer;
}

#finalScore_div {
    margin: 15px 0;
    font-size: 30px;
    font-family: Asap, sans-serif;
    font-weight: bold;
    align-items: center;

}

.finalScoreDisplay {
    border: solid white 2px;
    border-radius: 4px;
    padding: 15px 10px;
    width: 30%;
    margin: 0 auto;
    color: white;
   
}